html{
    scroll-behavior: smooth;
}
.home{
    display: felx;
    flex-direction: column;
    width: 70%;
    margin: auto;
    background: rgb(252, 250, 250);
 
}
/* When screen size is greater than laptop screen */
@media only screen and (max-width: 1024px){
    .home{
        width: 90%;
    }
}
/* When screen size is less than laptop mobile */
@media only screen and (max-width: 512px){
  .home{
      width: 100%;
  }
}