.social-contact{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: row;
}
.social-icon-div{
    padding:6px;
    cursor:pointer;
    margin: 6px;
}
.social-icon{
    height: 40px;
}
@media only screen and (max-width: 720px){
    .social-icon{
        height: 32px;
    }
}
/* Separator style */
.separator{
    background-color: rgb(150, 66, 66);
    height: 6px;
    width: 50%;
    border-radius: 5px;
    margin: 16px 0px;
}